body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}

h1, h2 {
  color: #357ebd;
}

.banner .row {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.banner .creditly-card-form {
  margin-top: 60px;
}

.banner .row .submit {
  margin-top: 20px;
  float: right;
}

.banner .footer {
  bottom: 0;
  position: absolute;
  margin: 20px;
}
